body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 2rem;
}

table {
    width: 100%;
    /* border-spacing: 1px; */
    border-collapse: collapse;

}

table,
td,
th {
    border: 1px solid rgb(87, 85, 85);
}

thead {
    background-color: rgb(48, 48, 48);
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: rgb(196, 196, 196);
}

@media (max-width: 1300px) {
    body {
        padding: 2.5rem;
    }
    table {
        line-height: 2rem;
    };

}

@media (max-width: 900px) {
    body {
        padding: 3rem;
    }
}

@media (max-width: 600px) {
    body {
        padding: 1.75rem;
    }
    table {
        line-height: 0.75rem;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    /* as row */
    td {
        position: relative;
        padding-left: 30%;
    }
    td:before {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 45%;
        padding-right: 10%;
        white-space: nowrap;
        padding-top: 2%;
    }

    td {
        padding-top: 2%;
        padding-bottom: 2%;
        vertical-align: middle;
    }

    td:nth-of-type(1):before {
        content: "First Name";
    }

    td:nth-of-type(2):before {
        content: "Last Name";
    }

    td:nth-of-type(3):before {
        content: "Job Title";
    }
    
}