body {
    max-width: 1440px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}


/* ------------- Header -------------  */

header {
    max-width: 1440px;
    padding: 0 140px;
    height: 121px;
    background: #daac00;
    display: grid;
    grid-template-areas:
        'logo nav search';
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

header img.logo {
    grid-area: logo;
    width: 212px;
    height: 56px;
}

header nav {
    width: 524px;
    grid-area: nav;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}


header nav a {
    text-decoration: none;
    font-size: 29px;
    color: #ffffff;
    font-weight: 500;
}

.search-input {
    position: relative;
}

.search-input input {
    padding: 0;
    padding-left: 10px;
    width: 274px;
    height: 51px;
    filter: drop-shadow(7.512px 14.127px 9px rgba(74, 74, 74, 0.1));
    background-color: #fcc302;
    border: none;
}

.search-input input::placeholder {
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    opacity: 1;

}

.search-input button {
    width: 71px;
    height: 51px;
    filter: drop-shadow(7.512px 14.127px 9px rgba(74, 74, 74, 0.1));
    background-color: #00bec9;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
}

/* ------------- Banner section -------------  */

section.banner-container {
    height: 780px;
    background-color: #fcc302;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container div.service-wrapper {
    padding: 140px;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        'info dog-img';
    align-items: center;
    column-gap: 20px;
}

.service-wrapper img {
    width: 419px;
    height: 604px;
    grid-area: dog-img;
}

.service-text {
    grid-area: info;
    display: flex;
    flex-direction: column;
}

.service-text h1 {
    font-size: 67px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 50px;
}

.service-text p {
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 50px;
}

.main-btn {
    width: 182px;
    height: 69px;
    border-radius: 7px;
    background-color: transparent;
    border: 3px solid #ffffff;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 600;
}

.main-btn:hover {
    color: #fcc302;
    background-color: #ffffff;
}

.contact-btn {
    background-color: #00bec9;
    border: none;
}

.contact-btn:hover {
    color: #00bec9;
    background-color: #ffffff;
    border: 3px solid #ffffff;
}

/* ----------------- Section Two ----------------- */

section.info-wrapper {
    height: 794px;
    display: grid;
    padding: 140px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: space-between;
}

.info-wrapper .info-text {
    display: grid;
}

.info-wrapper .info-text h2 {
    font-size: 50px;
    color: #313243;
    font-weight: 600;
    margin-top: 80px;
}

.info-wrapper .info-text p {
    font-size: 29px;
    font-size: 27px;
    letter-spacing: 0px;
    color: #313243;
    font-weight: 400;
}

.info-wrapper .info-text button {
    background-color: #fcc302;
    font-size: 21px;
}

.info-wrapper .info-text button:hover {
    color: #fcc302;
    background-color: #ffffff;
    border: 3px solid #fcc302;
}

.info-wrapper .img-wrapper {
    position: relative;
    width: 506px;
    height: 480px;
    margin-left: 93px;
}

.info-wrapper .img-wrapper img.info-dog {
    width: 506px;
    height: 480px;
    position: absolute;
}

.info-wrapper .img-wrapper::after {
    content: '';
    display: block;
    opacity: 0.569;
    width: 100%;
    height: 100%;
    background-color: #daac0091;
}

.info-wrapper img.info-icon {
    width: 85px;
    height: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.info-wrapper .img-square {
    width: 252px;
    height: 206px;
    background-color: #fcc302;
    position: absolute;
    bottom: -36px;
    left: -36px;
    z-index: -1;

}

/* ----------------- Section Three ----------------- */

section.third-section {
    box-sizing: border-box;
    height: 1018px;
    background-color: #fcc302;
    padding: 100px 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

section.third-section h2 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
}

section.third-section>p {
    font-size: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 100px;
    margin-top: 50px;
}

section.third-section .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
}

section.third-section .cards-wrapper .card img {
    width: 342px;
    height: 353px;
    background-color: #d1d1d1;
    border: 6px solid #ffffff;
    margin-bottom: 55px;
}

section.third-section .cards-wrapper .card h3 {
    font-size: 38px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}

section.third-section .cards-wrapper .card p {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

/* ----------------- Section Four ----------------- */
section.four-section {
    direction: rtl;
}

section.four-section .img-wrapper {
    margin-left: 0;
    margin-right: 90px;
}

section.four-section .img-wrapper .img-square {
    left: 0px;
    right: -36px;
}

/* ----------------- Section Five ----------------- */
section.five-section .cards-wrapper {
    width: 100%;

}

section.five-section .cards-wrapper h3 {
    font-size: 42px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    position: relative;
}

section.five-section .cards-wrapper h3 span.line-effect {
    width: 109px;
    height: 4px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    left: 21%;
}

section.five-section>p {
    font-size: 32px;
    color: #ffffff;
    font-weight: 400;
    width: 737px;
}

section.five-section .cards-wrapper h3 #second-usd {
    margin-left: 40px;

}

section.five-section .cards-wrapper p {
    margin-bottom: 94px;
}

section.five-section .cards-wrapper img {
    margin-bottom: 41px;
}


section.five-section .cards-wrapper .contact-btn {
    width: 199px;
    height: 60px;
    border-radius: 30px;
    background-color: #00bec9;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
}

section.five-section .cards-wrapper .contact-btn:hover {
    color: #00bec9;
    background-color: #ffffff;
    border: 3px solid #ffffff;
}